body {
  min-width: 400px;
}

/* Colors */
#colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 3rem;
}
#greenBox-example {
  color: #4ade80;
}
.grayBox {
  color: hsla(0, 0%, 50%, 0.15);
}
.greenBox {
  color: hsl(142, 69%, 58%);
  transition: color 1s ease;
}
.greenBox-1 {
  color: hsl(142, 50%, 41%);
}
.greenBox-2 {
  color: hsl(141, 50%, 23%);
}
.greenBox-3 {
  color: hsl(144, 52%, 6%);
}
.fill-current {
  fill: currentColor;
}
